[041agency] Searching For Full CSV
{"createdAt":"2025-03-19T13:09:14.999Z","updatedAt":"2025-03-19T15:53:17.000Z","id":"D21ehqZRR4TOuY4D","name":"[041agency] Searching For Full CSV","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"data","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-180,-40],"id":"f0974c12-b860-4869-a3ba-1c48b1c0f362","name":"When Executed by Another Workflow"},{"parameters":{"content":"## SerperApi\nNeeds to call the flow here: https://n8nbetas.meerkatcoding.com/workflow/aUraFRoTQVweO9X2","height":680,"width":2040,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,-120],"id":"22538701-fdda-48b7-abc5-c95f68c5f727","name":"Sticky Note10"},{"parameters":{"content":"\n\n# first\n# case\n\n\n\ncall node Serp with refined title","height":220,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[660,80],"id":"78a9723f-a3a9-4d3e-9073-bac5a208f881","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,-40],"id":"78f25898-99fd-495d-8e9e-8080e16c2dff","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a3fea24-973a-4e41-9a6f-b7ba382ac5dd","leftValue":"={{ $json.Size }}","rightValue":6,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,160],"id":"412db11b-35a9-4f3a-adda-1c976307c5f6","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38aaf033-e508-4d75-8d81-07ecacf327ea","leftValue":"={{ $json.Size }}","rightValue":6,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1640,260],"id":"4fa8263c-cbfe-47fc-9ac4-376e42862039","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"aUraFRoTQVweO9X2","mode":"list","cachedResultName":"[041] Search for Suppliers"},"workflowInputs":{"mappingMode":"defineBelow","value":{"link_number":0,"name_search ":"={{ $json.refined_name }}"},"matchingColumns":[],"schema":[{"id":"name_search ","displayName":"name_search ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link_number","displayName":"link_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[800,100],"id":"e7d9307b-81ef-4bf1-be98-aa8d75aa21ef","name":"Execute Workflow with Product Name"},{"parameters":{"workflowId":{"__rl":true,"value":"aUraFRoTQVweO9X2","mode":"list","cachedResultName":"[041] Search for Suppliers"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name_search ":"={{ $('Loop Over Items').item.json.category }}","link_number":"={{ $('Execute Workflow with Product Name').item.json.Size }}"},"matchingColumns":[],"schema":[{"id":"name_search ","displayName":"name_search ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link_number","displayName":"link_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1420,220],"id":"f747aeb9-f43c-49a9-870e-e6d1c610d643","name":"Execute Workflow with Category Name"},{"parameters":{"content":"\n\n# second\n# case\n\n\n\ncall node Serp with category name\n","height":220,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1260,200],"id":"1c89a34b-c097-451d-a20a-b247bb1004b2","name":"Sticky Note5"},{"parameters":{"content":"\n\n# third\n# case\n\n\n\n\ncall node Serp with brand name\n","height":240,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1900,280],"id":"de57f993-2754-4ca1-88aa-f8815d963539","name":"Sticky Note6"},{"parameters":{"workflowId":{"__rl":true,"value":"aUraFRoTQVweO9X2","mode":"list","cachedResultName":"[041] Search for Suppliers"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name_search ":"={{ $('Loop Over Items').item.json.brand }}","link_number":"={{ $('Execute Workflow with Category Name').item.json.Size }}"},"matchingColumns":[],"schema":[{"id":"name_search ","displayName":"name_search ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link_number","displayName":"link_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2100,300],"id":"0448d1eb-af1a-4cfb-aba9-7a690b224bc5","name":"Execute Workflow with Brand Name"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,-60],"id":"ec30011f-1169-4e8e-be87-2b4116ba4986","name":"END"},{"parameters":{"content":"\n\n## Sheets Link\n\nhttps://docs.google.com/spreadsheets/d/1B2wYyJ_9p4m6j5x8fHNsaRUyL4GW-92x3Pb6r0rQfZc/edit?gid=0#gid=0","height":140,"width":540,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,-60],"id":"776f9711-c580-4a85-9dea-73297d861870","name":"Sticky Note7"},{"parameters":{"fieldToSplitOut":"=['data']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[120,-40],"id":"01b94518-eddf-4fb7-9570-0fa9a7f36b3f","name":"Split Out"}],"connections":{"Loop Over Items":{"main":[[{"node":"END","type":"main","index":0}],[{"node":"Execute Workflow with Product Name","type":"main","index":0}]]},"If":{"main":[[{"node":"Execute Workflow with Category Name","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow with Brand Name","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow with Product Name":{"main":[[{"node":"If","type":"main","index":0}]]},"Execute Workflow with Category Name":{"main":[[{"node":"If1","type":"main","index":0}]]},"Execute Workflow with Brand Name":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e9678840-8c35-49b9-b142-fdd2be5f3495","triggerCount":0,"tags":[{"createdAt":"2025-03-17T15:19:57.929Z","updatedAt":"2025-03-18T11:22:48.835Z","id":"m83mlV3XK9krRmRE","name":"041agency"}]}