[041] Search for Suppliers
{"createdAt":"2025-03-13T11:01:40.018Z","updatedAt":"2025-03-18T11:15:10.000Z","id":"aUraFRoTQVweO9X2","name":"[041] Search for Suppliers","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"name_search "},{"name":"link_number","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,320],"id":"071adc20-c4b5-408a-91c1-49f53292ae5e","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json[\"name_search \"] }} \"wholesale\" program application"},{"name":"num","value":"10"},{"name":"location","value":"United States"},{"name":"hl","value":"en"},{"name":"gl","value":"us"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,320],"id":"fc0efb32-50e6-4749-a5ca-96c359e65c90","name":"Serper","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"N91MkhIISrY4eWRH","name":"[041agency] SerperApi - Augusto"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $input.all();\nconst groups = [];\n\n// Itera por cada resposta do serperApi\ninput.forEach(response => {\n  const searchName = response.json.searchParameters?.q || null;\n  const itens = [];\n  \n  if (response.json.organic && Array.isArray(response.json.organic)) {\n    response.json.organic.forEach(item => {\n      itens.push({\n        title: item.title,\n        link: item.link\n      });\n    });\n  }\n  \n  groups.push({\n    search: searchName,\n    itens: itens\n  });\n});\n\nreturn groups.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,320],"id":"2904002f-1ddf-4d93-ad94-d420065b93c9","name":"Serper Formater"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2800,640],"id":"8b9fa829-bc6e-4d8e-a616-7d92fe059f4b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"gnV1ugiuH2ff4Pl2","name":"OpenAi [Meerkat]"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"isValid\": { \"type\": \"boolean\" },\n    \"programFound\": { \"type\": \"string\" },\n    \"relevantLinks\": {\n      \"type\": [\"array\", \"null\"],\n      \"items\": { \"type\": \"string\" }\n    },\n    \"contactEmails\": {\n      \"type\": [\"array\", \"null\"],\n      \"items\": { \"type\": \"string\" }\n    },\n    \"contactPhones\": {\n      \"type\": [\"array\", \"null\"],\n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\"isValid\", \"programFound\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2960,640],"id":"155b6ac6-e374-40b5-95e1-b872cfb7d411","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"itens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1360,320],"id":"74e83852-ae84-49f5-80aa-76d3f1f89d21","name":"Refiner for Title and Link Objects"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2060,320],"id":"14006948-57ed-4ba2-b392-d98752b7bb4d","name":"Loop Over Supplier's Links"},{"parameters":{"promptType":"define","text":"=Analyze the following website markdown content:\n\n{{ $json.text }}\n{{ $json.metadata.title }}\n{{ $json.metadata['fb:app_id'] }}\n{{ $json.metadata['og:url'] }}\n{{ $json.metadata['og:title'] }}\n{{ $json.metadata['og:description'] }}\n{{ $json.metadata['og:type'] }}\n{{ $json.metadata['og:image'] }}\n{{ $json.metadata['og:site_name'] }}\n{{ $json.metadata.description }}\n{{ $json.metadata.keywords }}\n\nPerform a detailed extraction based on your expertise in identifying wholesale, reseller, bulk purchasing, or vendor partnership programs. Specifically:\n\nDetermine if a wholesale or reseller program is explicitly present.\n\nExtract any relevant URLs associated with sign-ups, program details, or exclusive business offerings.\n\nIdentify and list contact emails specifically linked to wholesale, reseller, or business partnership inquiries.\n\nIdentify and list phone numbers explicitly labeled for wholesale, business, or partnership purposes.\n\nCheck if the supplier operates in the United States (US). If it is explicitly stated that the supplier does not operate in the US, discard that supplier from the analysis.\n\nProvide your findings in a structured JSON response according to the predefined format.","hasOutputParser":true,"options":{"systemMessage":"=Role:\nAct as an expert website markdown interpreter with extensive experience in analyzing and detecting wholesale, reseller, bulk purchasing, and vendor partnership programs.\n\nYour task is to extract structured data from a website's markdown content to determine whether it offers such a program and retrieve relevant contact details.\n\nObjective:\nYour primary goal is to:\n\nDetect the presence of a wholesale, reseller, or vendor partnership program in the United States by analyzing relevant keywords, section titles, and descriptions.\nExtract URLs related to sign-ups, program details, or special pricing information.\nRetrieve specific contact details (emails & phone numbers) that are explicitly related to commercial inquiries.\nProvide a well-structured JSON output summarizing the findings in a clean and machine-readable format.\nInstructions:\nStep 1: Extract and Analyze Markdown Content\nIdentify key sections by scanning titles, headers, and emphasized content.\nLook for specific terms related to business programs, such as:\nwholesale, reseller, partner, supplier, distributor, bulk orders.\nPrioritize sections with structured offers, such as:\nMembership, Apply, Exclusive Access, Discounts for Businesses.\nStep 2: Validate Program Presence\nConfirm whether the detected keywords refer to an actual wholesale or reseller program (not just general mentions).\nPrioritize sections that describe:\nApplication processes (e.g., \"Sign up for our reseller program\").\nBusiness pricing structures (e.g., \"Exclusive rates for wholesale buyers\").\nStep 3: Extract Relevant URLs\nIdentify and extract URLs that match program-related keywords, such as:\n/wholesale, /reseller, /bulk-order, /partner-program.\nGive priority to URLs that indicate sign-up or enrollment, such as:\n/wholesale-apply, /reseller-registration, /supplier-program.\nStep 4: Extract Contact Information\nRetrieve business-related emails, ensuring they contain terms like:\nwholesale@company.com, sales@company.com, partners@company.com.\nIdentify phone numbers explicitly labeled for:\nWholesale, Business Inquiries, or Supplier Partnerships.\nIf available, extract contact form links for further inquiries.\nStep 5: Generate a Structured JSON Response\nIf a wholesale or resale program is confirmed, output:\n{\n  \"isValid\": true,\n  \"programFound\": \"A wholesale or resale program was found on this site.\",\n  \"relevantLinks\": [\"URL1\", \"URL2\"],\n  \"contactEmails\": [\"email1@company.com\", \"email2@company.com\"],\n  \"contactPhones\": [\"+1-XXX-XXX-XXXX\", \"+1-YYY-YYY-YYYY\"]\n}\nIf no valid information is found, return:\n\n{\n  \"isValid\": false,\n  \"programFound\": \"No wholesale or resale programs were detected on this site.\",\n  \"relevantLinks\": null,\n  \"contactEmails\": null,\n  \"contactPhones\": null\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2800,380],"id":"876827a9-75b9-4e8e-811f-e87c88c6a5f4","name":"AI Agent - Analyze Markdown","retryOnFail":true,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtra os itens para incluir apenas aqueles com isValid igual a true\nconst validItems = items.filter(item => item.json?.output?.isValid === true);\n\n// Mapeia os itens válidos para o formato desejado\nreturn validItems.map(item => {\n  const output = item.json.output ?? {};\n\n  return {\n    json: {\n      search: item.json.search ?? \"\",\n      programFound: output.programFound ?? \"\", \n      mainLink: item.json.mainLink ?? \"\",\n      relevantLinks: Array.isArray(output.relevantLinks) ? output.relevantLinks.join(\"\\n\") : \"\",\n      contactEmails: Array.isArray(output.contactEmails) ? output.contactEmails.join(\"\\n\") : \"\",\n      contactPhones: Array.isArray(output.contactPhones) ? output.contactPhones.join(\"\\n\") : \"\"\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,140],"id":"dc53ee87-37b5-4401-996d-69ed01751af6","name":"Output Formatter"},{"parameters":{"method":"POST","url":"https://sheets.googleapis.com/v4/spreadsheets/1B2wYyJ_9p4m6j5x8fHNsaRUyL4GW-92x3Pb6r0rQfZc/values/A1:append?valueInputOption=RAW","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"values","value":"={{ $json.values }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3220,140],"id":"3a6d7aeb-1eb3-4476-97b7-ee38a6feee07","name":"Batch Update","alwaysOutputData":false,"executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"15QfHnp7QgNKCoQM","name":"Google Sheets - Access"}}},{"parameters":{"jsCode":"\n\n// Mapeia os dados de entrada e os formata corretamente\nconst rows = $input.all().map(item => [\n    String(item.json.search || \"\"),\n    String(item.json.programFound || \"\"),\n    String(item.json.mainLink || \"\"),\n    String(item.json.relevantLinks || \"\"),\n    String(item.json.contactEmails || \"\"),\n    String(item.json.contactPhones || \"\"),\n]);\n\n// Junta o cabeçalho com os dados dinâmicos\nreturn [\n    {\n        json: {\n            values: rows\n        }\n    }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2920,140],"id":"b9f096c0-66f8-410c-bfdf-82794ce818e6","name":"Code","alwaysOutputData":false},{"parameters":{"content":"# Batch approach to avoid sheets block.","height":800,"width":1880,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1940,0],"id":"ed0894c1-0ffb-4594-bfc3-7c9d2c6a68a5","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"6a70203c-a1b9-49c1-9f49-131e54adb827","name":"Size","value":"={{ Number($('Code').item.json.values.length) + Number($('Define Var').first().json.link_num) }}\n","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3560,140],"id":"b7cb4001-8280-4268-b24a-5a251371e645","name":"return","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"34660f33-d0a4-4c08-bce3-fa6017fcb8f7","name":"forbiddenList","value":"={{ [\"amazon.com\", \"ebay.com\", \"walmart.com\", \"aliexpress\", \"alibaba\", \"dhgate.com\", \"aliexpress.com\", \"alibaba.com\", \"dhgate.com\", \"made-in-china.com\" ,\"faire.com\", \"supplyleader.com\", \"globalsources.com\", \"importer.ec21.com\", \"www.youtube.com\", \"www.bjs.com\", \"facebook.com\"]\n }}","type":"array"},{"id":"c30ffff3-c5ec-4385-8af0-30ea74617197","name":"link_num","value":"={{ $json.link_number }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,320],"id":"0ae833c9-c309-4dfb-9c24-1b5e4aa7b566","name":"Define Var"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8419ffbf-8472-430c-b75c-02794355aef0","leftValue":"={{ $('Define Var').item.json.forbiddenList.some(el => $json.link.includes(el)) }}","rightValue":"=","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1680,320],"id":"82b2e53e-c389-43d2-a2f4-31fee251de9a","name":"Filter"},{"parameters":{"url":"=https://scrape.serper.dev","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $json.link }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,380],"id":"774868b0-5389-4a87-9674-0d6249fa2b3e","name":"Serper1","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"N91MkhIISrY4eWRH","name":"[041agency] SerperApi - Augusto"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"2aeb3d01-8257-4456-a8cd-e834ee9511f6","name":"output","value":"={{ $('Loop Over Supplier\\'s Links').item.json.output }}","type":"object"},{"id":"e420ed3b-90e2-483f-9091-3da8f6da7c7b","name":"mainLink","value":"={{ $('Filter').item.json.link }}","type":"string"},{"id":"3cf738b8-bc16-4860-9658-c9ea93bf3120","name":"search","value":"={{ $('Filter').item.json.title }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2380,140],"id":"461f8965-d6de-4be5-9240-2b0c38f88454","name":"Edit Fields"},{"parameters":{"content":"## On Error: \nMax. Tries = 3\nContinue\n\n","height":100,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[660,480],"id":"97068959-41a1-4592-b3cd-a63a5a5384bb","name":"Sticky Note1"},{"parameters":{"content":"## On Error: \nMax. Tries = 3\nContinue\n\n","height":100,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3120,380],"id":"2c8c79d6-2788-4655-9538-748c841b058b","name":"Sticky Note2"},{"parameters":{"content":"# Search by parameter","height":800,"width":1880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"f008181d-14eb-460f-8a85-ceb92d3776a9","name":"Sticky Note3"},{"parameters":{"content":"## On Error: \nMax. Tries = 3\nContinue\n\n","height":100,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2340,560],"id":"9801767c-f3dc-49d4-b9cc-ff8c0f3a1bb7","name":"Sticky Note4"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Define Var","type":"main","index":0}]]},"Serper":{"main":[[{"node":"Serper Formater","type":"main","index":0}]]},"Serper Formater":{"main":[[{"node":"Refiner for Title and Link Objects","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Analyze Markdown","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent - Analyze Markdown","type":"ai_outputParser","index":0}]]},"Refiner for Title and Link Objects":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Loop Over Supplier's Links":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Serper1","type":"main","index":0}]]},"AI Agent - Analyze Markdown":{"main":[[{"node":"Loop Over Supplier's Links","type":"main","index":0}]]},"Output Formatter":{"main":[[{"node":"Code","type":"main","index":0}]]},"Batch Update":{"main":[[{"node":"return","type":"main","index":0}]]},"Code":{"main":[[{"node":"Batch Update","type":"main","index":0}]]},"Define Var":{"main":[[{"node":"Serper","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Supplier's Links","type":"main","index":0}]]},"Serper1":{"main":[[{"node":"AI Agent - Analyze Markdown","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Output Formatter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"352a03e4-29c4-4db3-93f1-686158863665","triggerCount":0,"tags":[{"createdAt":"2025-03-17T15:19:57.929Z","updatedAt":"2025-03-18T11:22:48.835Z","id":"m83mlV3XK9krRmRE","name":"041agency"}]}