[041agency] Searching For Same Brand
{"createdAt":"2025-03-19T14:14:31.471Z","updatedAt":"2025-03-19T16:03:36.000Z","id":"OW5nrzDo2966aovO","name":"[041agency] Searching For Same Brand","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"data","type":"array"},{"name":"brand"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-380,420],"id":"78aac945-0258-476e-9149-d66f22306c50","name":"When Executed by Another Workflow"},{"parameters":{"content":"## SerperApi\nNeeds to call the flow here: https://n8nbetas.meerkatcoding.com/workflow/aUraFRoTQVweO9X2","height":680,"width":1920,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,180],"id":"e657276d-009e-42e3-ae69-6669c63608d4","name":"Sticky Note10"},{"parameters":{"content":"\n\n# first\n# case\n\n\n\ncall node Serp with refined title","height":220,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,420],"id":"696f1eab-e3cd-4589-8179-c1bd39c079fd","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[380,300],"id":"9237752e-25a1-4b69-aa1b-8b6afb0bba46","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38aaf033-e508-4d75-8d81-07ecacf327ea","leftValue":"={{ $json.Size }}","rightValue":6,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1220,540],"id":"8fdc9ac0-bd6d-4c96-a1b3-c2dfacaaebf2","name":"If1"},{"parameters":{"content":"\n\n# second\n# case\n\n\n\n\ncall node Serp with category name\n","height":240,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1500,560],"id":"a6ead672-ef82-4679-b08b-eff8c73428c2","name":"Sticky Note6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,280],"id":"091fed69-3b1a-4dc8-ab8c-b95149abb65d","name":"END"},{"parameters":{"content":"\n\n## Sheets Link\n\nhttps://docs.google.com/spreadsheets/d/1B2wYyJ_9p4m6j5x8fHNsaRUyL4GW-92x3Pb6r0rQfZc/edit?gid=0#gid=0","height":140,"width":540,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1400,280],"id":"d9879ee9-54e8-4266-8f24-33296744c3f7","name":"Sticky Note7"},{"parameters":{"workflowId":{"__rl":true,"value":"aUraFRoTQVweO9X2","mode":"list","cachedResultName":"[041] Search for Suppliers"},"workflowInputs":{"mappingMode":"defineBelow","value":{"link_number":0,"name_search ":"={{ $json.refined_name }}"},"matchingColumns":[],"schema":[{"id":"name_search ","displayName":"name_search ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link_number","displayName":"link_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[680,440],"id":"33b9a37f-eb4c-49e1-9b4a-f24007f761d6","name":"Execute Workflow with Product Name1"},{"parameters":{"content":"## Extract data from top node\n","height":680,"width":740,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,180],"id":"754fdbbe-a1f9-4fec-ad0e-d718880f6270","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"aUraFRoTQVweO9X2","mode":"list","cachedResultName":"[041] Search for Suppliers"},"workflowInputs":{"mappingMode":"defineBelow","value":{"link_number":0,"name_search ":"={{ $json.brand }}"},"matchingColumns":[],"schema":[{"id":"name_search ","displayName":"name_search ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link_number","displayName":"link_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-60,260],"id":"22b62ddf-59f8-4172-992a-0341cadbdb90","name":"Search for suppliers by brand only once"},{"parameters":{"workflowId":{"__rl":true,"value":"aUraFRoTQVweO9X2","mode":"list","cachedResultName":"[041] Search for Suppliers"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name_search ":"={{ $('Loop Over Items').item.json.category}}","link_number":"={{ $('Execute Workflow with Product Name1').item.json.Size }}"},"matchingColumns":[],"schema":[{"id":"name_search ","displayName":"name_search ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link_number","displayName":"link_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1700,580],"id":"2c9dc49e-a9f6-418a-a327-0ee92ae61dc5","name":"Execute Workflow with Category Name"},{"parameters":{"fieldToSplitOut":"=['data']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-40,580],"id":"aaf91070-5f49-4d70-85d0-f1bb76363db3","name":"Split Out"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Search for suppliers by brand only once","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"END","type":"main","index":0}],[{"node":"Execute Workflow with Product Name1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow with Category Name","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow with Product Name1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Execute Workflow with Category Name":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9ff50b0d-e949-4246-854b-b605c6f6a133","triggerCount":0,"tags":[{"createdAt":"2025-03-17T15:19:57.929Z","updatedAt":"2025-03-18T11:22:48.835Z","id":"m83mlV3XK9krRmRE","name":"041agency"}]}