[041agency] Searching For Same Category
{"createdAt":"2025-03-19T13:30:55.647Z","updatedAt":"2025-03-20T16:56:13.000Z","id":"FiFumFxviD4S3F9J","name":"[041agency] Searching For Same Category","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"data","type":"array"},{"name":"category"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-260,-260],"id":"48c68a44-1869-415e-8b49-7cac6eea5f18","name":"When Executed by Another Workflow"},{"parameters":{"fieldToSplitOut":"=['data']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[100,-80],"id":"6831f620-b69a-48d5-a4d3-9af4b036b0f5","name":"Split Out"},{"parameters":{"workflowId":{"__rl":true,"value":"aUraFRoTQVweO9X2","mode":"list","cachedResultName":"[041] Search for Suppliers"},"workflowInputs":{"mappingMode":"defineBelow","value":{"link_number":0,"name_search ":"={{ $json.category }}"},"matchingColumns":[],"schema":[{"id":"name_search ","displayName":"name_search ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link_number","displayName":"link_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[100,-320],"id":"9e92e0b3-402d-4938-b3e4-a1dab07222c9","name":"Execute Workflow with Product Name"},{"parameters":{"content":"## SerperApi\nNeeds to call the flow here: https://n8nbetas.meerkatcoding.com/workflow/aUraFRoTQVweO9X2","height":680,"width":1920,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,-140],"id":"5dba6494-b88c-44bd-9e83-4db817276493","name":"Sticky Note10"},{"parameters":{"content":"\n\n# first\n# case\n\n\n\ncall node Serp with refined title","height":220,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,100],"id":"b6576205-3d39-4527-9396-6f0f961ebf84","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,-20],"id":"ec21bb33-7b1e-457c-bf9d-0826e10672c1","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38aaf033-e508-4d75-8d81-07ecacf327ea","leftValue":"={{ $json.Size }}","rightValue":6,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1320,220],"id":"453954a9-b2da-47fe-9d9d-fd36030edd33","name":"If1"},{"parameters":{"content":"\n\n# second\n# case\n\n\n\n\ncall node Serp with brand name\n","height":240,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,240],"id":"460dc448-0307-4df9-9c23-b7b5134ea115","name":"Sticky Note6"},{"parameters":{"workflowId":{"__rl":true,"value":"aUraFRoTQVweO9X2","mode":"list","cachedResultName":"[041] Search for Suppliers"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name_search ":"={{ $('Loop Over Items').item.json.brand }}","link_number":"={{ $('Execute Workflow with Category Name').item.json.Size }}"},"matchingColumns":[],"schema":[{"id":"name_search ","displayName":"name_search ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link_number","displayName":"link_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1800,260],"id":"d55e811d-f9d6-41bd-8de0-a0df07303603","name":"Execute Workflow with Brand Name"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1300,-40],"id":"7016317a-3218-4ce4-bd8c-e393ade97f77","name":"END"},{"parameters":{"content":"\n\n## Sheets Link\n\nhttps://docs.google.com/spreadsheets/d/1B2wYyJ_9p4m6j5x8fHNsaRUyL4GW-92x3Pb6r0rQfZc/edit?gid=0#gid=0","height":140,"width":540,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1500,-40],"id":"68d33f78-27e6-4cfa-a101-e84b74cb60b8","name":"Sticky Note7"},{"parameters":{"workflowId":{"__rl":true,"value":"aUraFRoTQVweO9X2","mode":"list","cachedResultName":"[041] Search for Suppliers"},"workflowInputs":{"mappingMode":"defineBelow","value":{"link_number":0,"name_search ":"={{ $json.refined_name }}"},"matchingColumns":[],"schema":[{"id":"name_search ","displayName":"name_search ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link_number","displayName":"link_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[780,120],"id":"f0e9dbd2-7ec5-46ec-a50e-2b8352d0281c","name":"Execute Workflow with Product Name1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Execute Workflow with Product Name","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"END","type":"main","index":0}],[{"node":"Execute Workflow with Product Name1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow with Brand Name","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow with Brand Name":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow with Product Name1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"19051bd2-cc5f-43db-ac13-0320fa0bc72d","triggerCount":0,"tags":[{"createdAt":"2025-03-17T15:19:57.929Z","updatedAt":"2025-03-18T11:22:48.835Z","id":"m83mlV3XK9krRmRE","name":"041agency"}]}