[041agency] Github Backup Automate
{"createdAt":"2025-03-17T11:02:08.773Z","updatedAt":"2025-03-20T16:56:16.000Z","id":"2IOGsUUmIxru5ACO","name":"[041agency] Github Backup Automate","active":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"4fd865fd-2ba1-4c22-a0d0-1be8340678a9","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1820,1020]},{"parameters":{"assignments":{"assignments":[{"id":"0fe43841-c39e-4cb1-af37-6cd9a6aa4df0","name":"tag_name","value":"041agency","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1540,1020],"id":"3fc8408d-6d52-457a-aab7-7cc82857019c","name":"Set tag name"},{"parameters":{"fieldToSplitOut":"tag_name","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1320,1020],"id":"542bb487-dafd-4500-80fc-9aa396ebea6e","name":"Split Tag Name"},{"parameters":{"url":"https://n8nbetas.meerkatcoding.com/api/v1/workflows","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"10"},{"name":"tags","value":"={{ $json.tag_name }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxZjc2ZTRhYy04ZDk0LTRlODAtYTNkZC0xNzg5MWU4MzA2OTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzQyMjE5NTQ1LCJleHAiOjE3NDQ3NzI0MDB9.XArjgzTqi4ZTb7qqP-4fNNYFyT2Ny8YxlQfiWK629BA"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1080,1200],"id":"8cf0ef75-9053-4a71-8aad-32ae3e65c182","name":"Get n8n Flow"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-840,1200],"id":"bba6e121-2213-4d39-b6ec-ceb61fd4450e","name":"Split N8N Flow"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"augustojeff","mode":"name"},"repository":{"__rl":true,"value":"https://github.com/augustojeff/041agency","mode":"url"}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-960,960],"id":"2a9f8e1a-0356-41d9-ac94-1c6841663f0c","name":"Get Github","credentials":{"githubApi":{"id":"yr5vmnWWoWrh7MbD","name":"GitHub Augusto"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-600,1060],"id":"6f2316eb-3d13-4bcf-abac-f3be19a4698d","name":"Merge N8N e Github"},{"parameters":{"fieldToSplitOut":"Update","options":{}},"id":"cee8ce91-ccb0-4f37-8b0d-1b7b608a829a","name":"Split Update","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-80,920]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"augustojeff","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.tags[0].name }}","mode":"name"},"filePath":"={{ $json.name }}","fileContent":"={{JSON.stringify($json)}}","commitMessage":"={{\"New commit \" + Date.now()}}"},"id":"e2a088b0-13e3-45b4-a750-dee47d7e9bdf","name":"Create Commit New File","type":"n8n-nodes-base.github","typeVersion":1,"position":[160,1180],"credentials":{"githubApi":{"id":"yr5vmnWWoWrh7MbD","name":"GitHub Augusto"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"augustojeff","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.tags[0].name }}","mode":"name"},"filePath":"={{ $json.name }}","additionalParameters":{}},"id":"466a63ee-0f35-4d2e-a275-9165e668ed97","name":"Get file to Update","type":"n8n-nodes-base.github","typeVersion":1,"position":[140,920],"credentials":{"githubApi":{"id":"yr5vmnWWoWrh7MbD","name":"GitHub Augusto"}}},{"parameters":{"fieldToSplitOut":"Alterados","include":"allOtherFields","options":{}},"id":"69e5a34f-1912-4171-bf8e-61ce53d04297","name":"Split Alterados","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[760,920]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet valido = 1\nworkflowsUpdate = [];\nworkflowsNew = [];\n\nfor (let workflow of $('Split N8N Flow').all()) {\n  valido = 1;\n   for (let file of $('Get Github').all() ) {\n    if(file.json.name == workflow.json.name){\n      valido = 0;\n      workflowsUpdate.push(workflow.json);\n      break;\n    }\n  }\n  if(valido == 1)\n  {\n    workflowsNew.push(workflow.json);\n  }\n}\n\nreturn {'Update': workflowsUpdate,\n         'New': workflowsNew};"},"id":"cc44e14e-b510-4ff1-8aac-64254dac780e","name":"Filter - Update and New","type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,1060]},{"parameters":{"fieldToSplitOut":"New","options":{}},"id":"01361dc8-39f8-4fd8-9fad-1811fa777a3c","name":"Split New","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-80,1180]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[980,1120],"id":"2e8e87b8-ebf5-417c-827b-1ab25e0526c3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"gnV1ugiuH2ff4Pl2","name":"OpenAi [Meerkat]"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"message\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1200,1120],"id":"fe72d208-0a4a-4e2f-8ad3-76b0278ab380","name":"Structured Output Parser"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"augustojeff","mode":"name"},"repository":{"__rl":true,"value":"https://github.com/augustojeff/041agency","mode":"url"},"filePath":"={{ $('Split Alterados').item.json.Alterados.new.name }}","fileContent":"={{JSON.stringify($('Split Alterados').item.json.Alterados.new)}}","commitMessage":"={{ $json.output.message }}"},"id":"f43b9043-9cc7-4d19-907f-8e720b7702d4","name":"Commit Update","type":"n8n-nodes-base.github","typeVersion":1,"position":[1400,920],"credentials":{"githubApi":{"id":"yr5vmnWWoWrh7MbD","name":"GitHub Augusto"}}},{"parameters":{"promptType":"define","text":"=Old version \n{{ $json.Alterados.old }}\n---------------------------------------\nNew version\n{{ $json.Alterados }}","hasOutputParser":true,"options":{"systemMessage":"=Act like a JSON comparison expert. You are provided with two JSON files that represent the same workflow. The first file is the old version, and the second file is the new version. Your task is to:\n\nIdentify and summarize the changes:\n\nHighlight new nodes added\nHighlight deleted nodes removed\n\n\nIgnore:\n\nChanges in positions\nChanges in timestamps\nChanges in IDs\n\n\n\nYour summary must be concise, focusing only on the key changes (added and removed nodes). Limit the response to a maximum of 50 characters.\nCommit message format:\n\ntype: \"workflow\"\nscope: \"node changes\"\ndescription: \"summarize added/deleted nodes\"\n- Dont break the lines in the commit message. Dont use /n.\n\nExample:\nfix(workflow): summarize node changes (add/remove nodes)\n\nTake a deep breath and work on this problem step-by-step."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1000,920],"id":"b7b335a7-c062-4429-8582-62155aea695c","name":"Create personalized message"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet i = 0;\n\nlet alterados = [];\n\nfor (const item of $('Extract From File').all()) {\n  let github = item.json.data;\n  let n8n = JSON.stringify($('Split Update').all()[i].json);\n\n  if (n8n !== github) {\n    alterados.push({\n      new: $('Split Update').all()[i].json,\n      old: github\n    });\n  }\n  i++;\n}\n\nreturn { \"Alterados\": alterados };\n"},"id":"8114c4cd-214d-462c-a544-1cd0f3942742","name":"check if there was a change","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,920]},{"parameters":{"operation":"text","options":{}},"id":"8360ba3a-36d0-47f3-8929-430218c14725","name":"Extract From File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[360,920]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set tag name","type":"main","index":0}]]},"Set tag name":{"main":[[{"node":"Split Tag Name","type":"main","index":0}]]},"Split Tag Name":{"main":[[{"node":"Get n8n Flow","type":"main","index":0},{"node":"Get Github","type":"main","index":0}]]},"Get n8n Flow":{"main":[[{"node":"Split N8N Flow","type":"main","index":0}]]},"Split N8N Flow":{"main":[[{"node":"Merge N8N e Github","type":"main","index":1}]]},"Get Github":{"main":[[{"node":"Merge N8N e Github","type":"main","index":0}]]},"Merge N8N e Github":{"main":[[{"node":"Filter - Update and New","type":"main","index":0}]]},"Split Update":{"main":[[{"node":"Get file to Update","type":"main","index":0}]]},"Get file to Update":{"main":[[{"node":"Extract From File","type":"main","index":0}]]},"Split Alterados":{"main":[[{"node":"Create personalized message","type":"main","index":0}]]},"Filter - Update and New":{"main":[[{"node":"Split Update","type":"main","index":0},{"node":"Split New","type":"main","index":0}]]},"Split New":{"main":[[{"node":"Create Commit New File","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Create personalized message","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Create personalized message","type":"ai_outputParser","index":0}]]},"Create personalized message":{"main":[[{"node":"Commit Update","type":"main","index":0}]]},"check if there was a change":{"main":[[{"node":"Split Alterados","type":"main","index":0}]]},"Extract From File":{"main":[[{"node":"check if there was a change","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09b13ef0-8c24-4453-a1c4-ba8db7815f7f","triggerCount":1,"tags":[{"createdAt":"2025-03-17T15:19:57.929Z","updatedAt":"2025-03-18T11:22:48.835Z","id":"m83mlV3XK9krRmRE","name":"041agency"}]}